@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

html {
  font-size: 2.6666666667vw;
}
@media (min-width: 969px) {
  html {
    font-size: 62.5%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hiragino Sans", "ヒラギノ角ゴ", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.8;
  color: #000000;
}

main {
  overflow: hidden;
}

img {
  max-width: 100%;
  width: 100%;
  image-rendering: -webkit-optimize-contrast;
}

a,
button {
  text-decoration: none;
  color: #0066C5;
}
a:hover,
button:hover {
  opacity: 0.7;
  text-decoration: none;
}

input:focus,
select:focus,
button:focus {
  outline: none;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 2rem;
}

body {
  background: #252525 url(../images/tab/page_background.png) 0px 0px repeat-x;
}

.h-pc {
  display: none;
}
@media (min-width: 768px) {
  .h-pc {
    display: block;
  }
}

@media (min-width: 768px) {
  .h-sp {
    display: none;
  }
}

@media (min-width: 768px) {
  .break-pc {
    display: block;
  }
}

@media (max-width: 968px) {
  .break-sp {
    display: block;
  }
}

.header {
  display: flex;
  background-image: url("../images/tab/header_light.png");
  background-repeat: no-repeat;
  position: relative;
  height: 16.5rem;
  top: 5rem;
  width: 86rem;
  margin: 0 auto;
}

.p_top {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p_top .cascade {
  width: 100%;
  position: relative;
}
.p_top .cascade-menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  height: 50rem;
}
.p_top .cascade-menu li {
  width: calc(25% - 2rem);
  height: 50rem;
  position: absolute;
  top: 0;
  cursor: pointer;
  z-index: 1;
}
.p_top .cascade-menu li.active {
  z-index: 2 !important;
}
.p_top .blue {
  background-color: blue;
  left: 0;
}
.p_top .green {
  background-color: green;
  left: calc(25% + 0.6rem);
}
.p_top .yellow {
  background-color: yellow;
  left: calc(50% + 1.2rem);
}
.p_top .orange {
  background-color: orange;
  left: calc(75% + 1.8rem);
}
.p_top .tabcontent {
  width: 0;
  opacity: 0;
  height: 50rem;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: calc(25% + 0.6rem);
}
.p_top .tabcontent .cascade-close {
  position: relative;
  z-index: 2;
  background-color: white;
  height: 3px;
  width: 0;
  opacity: 0;
}
.p_top .tabcontent .cascade-close.show-content {
  width: 100%;
  animation: slidein 1s ease-in-out;
  opacity: 1;
}
.p_top .tabcontent .cascade-close .btn-close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  font-size: 1.8rem;
  color: white;
  background-color: black;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 1;
}
.p_top .cascade-nav {
  display: none;
  opacity: 0;
  width: 2.5rem;
  height: 5rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
.p_top .cascade-nav.block {
  display: block;
  opacity: 1;
}
.p_top .cascade-nav:hover {
  background-position: 0px -50px;
}
.p_top .cascade-nav.prev {
  left: -5rem;
  background-image: url("../images/tab/content_nav_left.png");
}
.p_top .cascade-nav.next {
  right: -5rem;
  background-image: url("../images/tab/content_nav_right.png");
}

.template1 .test {
  font-size: 3.2rem;
  color: red;
}

.template2 .test {
  font-size: 3.2rem;
  color: red;
}

.template3 .test {
  font-size: 3.2rem;
  color: red;
}

.template4 .test {
  font-size: 3.2rem;
  color: red;
}

@keyframes slidein {
  from {
    width: 0%;
  }
  40% {
    width: 100%;
  }
  50% {
    width: 94%;
  }
  60% {
    width: 100%;
  }
  70% {
    width: 96%;
  }
  80% {
    width: 100%;
  }
  90% {
    width: 98%;
  }
  to {
    width: 100%;
  }
}