body {
    // background: #252525 url(../images/tab/background.jpg) 0px 0px repeat-x;
    background-image: url("../images/tab/background.jpg");
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    // height: 100vh;
}

.h-pc {
    display: none;
    @media (min-width: 768px) {
        display: block;
    }
}

.h-sp {
    @media (min-width: 768px) {
        display: none;
    }
}

.break-pc {
    @media (min-width: 768px) {
        display: block;
    }
}

.break-sp {
    @media (max-width: 968px) {
        display: block;
    }
}

//custom Scroll 

/* width */
::-webkit-scrollbar {
    width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: $back_light; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #343434; 
    border-radius: 1.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #E0E0E0; 
}


 