.header {
    display: flex;
    background-image: url("../images/tab/header_light.png");
    background-repeat: no-repeat;
    position: relative;
    height: 16.5rem;
    top: 5rem;
    width: 86rem;
    margin: 0 auto;
}