@mixin xs {
    @media (max-width: ($xs)) {
        @content;
    }
}

@mixin md {
    @media (min-width: ($md)) {
        @content;
    }
}

@mixin mdm {
    @media (max-width: ($md)) {
        @content;
    }
}

@mixin lgm {
    @media (max-width: ($lgm)) {
        @content;
    }
}

@mixin xlm {
    @media (max-width: ($xlm)) {
        @content;
    }
}

@mixin lg {
    @media (min-width: ($lg)) {
        @content;
    }
}

@mixin xl {
    @media (min-width: ($xl)) {
        @content;
    }
}

@mixin xxl {
    @media (min-width: ($xxl)) {
        @content;
    }
}

@mixin flexbox($flex, $align, $justify, $wrap) {
    display: $flex;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
}

@mixin flexbox-center-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@mixin flexbox-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin center-pos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// @function funCalc($fontSize) {
//     @return calc(#{$fontSize} / 375 * 100vw);
// }

// @function xlCalc($fontSize) {
//     @return calc(#{$fontSize} / 1200 * 100vw);
// }