.p_top {
  position: relative;
  width: 100%;    
  .cascade {
    width: 100%;    
    position: relative;
    margin-bottom: 3rem;
  }
  .cascade-menu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    height: 50rem;
    .tab-item {
      width: calc(33.33% - 2rem);       
      height: 50rem;
      position: absolute;
      top: 0;
      cursor: pointer;
      z-index: 1;
      &.active {
        z-index: 2 !important ;
      }
    }
    .gr-ttl {
      width: 100%;
      position: absolute;
      bottom: 12rem;
      left: 50%;
      transform: translateX(-50%);
    }
    .ttl-item {
      width: 100%;
      font-size: 2.4rem;
      line-height: 1.2;
      text-align: center;
      color: $white;
      padding-bottom: 2rem;
      position: relative;
      &::before {
        content: "";
        width: 70%;
        height: 3px;      
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      &.before-blue {
        &::before {          
          background-color: #008db0;          
        } 
      }
      &.before-green {
        &::before {          
          background-color: #82a000;          
        } 
      }
      &.before-orange {
        &::before {          
          background-color: #e09600;          
        } 
      }
    }
    .sub-ttl-item {
      width: 100%;
      font-size: 1.5rem;
      line-height: 1.2;
      text-align: center;
      color: $white;
      padding-top: 1rem;
      // position: absolute;
      // bottom: 14rem;
      // left: 50%;
      // transform: translateX(-50%);
    }
  }
  .blue {      
    left: 0;
    // background-image: url("../images/tab/content_box_blue.png");
    background-image: url("../images/tab/bg1.jpg");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
    // background-size: 100% 200%;
  }
  .green {    
    left: calc(33.33% + 0.6rem);
    // background-image: url("../images/tab/content_box_green.png");
    background-image: url("../images/tab/bg2.jpg");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
    // background-size: 100% 200%;
  }
  .yellow {  
    left: calc(66.66% + 1.2rem);
    // background-image: url("../images/tab/content_box_yellow.png");
    background-image: url("../images/tab/bg3.jpg");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
    // background-size: 100% 200%;
  }

  .tabcontent {
    width: 0;
    opacity: 0;
    // height: 46rem;
    height: 50rem;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: calc(33.33% + 0.6rem);
    .cascade-close {
      position: relative;
      z-index: 1;
      background-color: white;
      height: 3px;
      width: 0;      
      opacity: 0;
      &.show-content {   
        width: 100%;
        animation: slidein 1s ease-in-out;
        opacity: 1;
      }      
      .btn-close {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 3.5rem;                    
        cursor: pointer;   
        &::before {
          content: "";
          width: 1rem;
          height: 1rem;
          clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);  
          color: white;   
          background-color: $white;    
          position: absolute;
          top: 50%;
          transform: translate(-50%,-50%);
          left: 50%;
          z-index: 2;
        } 
        &::after {
          content: "";
          width: 2.5rem;
          height: 2.5rem;
          position: absolute;
          top: 50%;
          transform: translate(-50%,-50%);
          left: 50%;
          background-color: #012B65 ;
          z-index: 1;
        }  
      }   
    }
    .cascade-content {
      height: 100%;    
      padding: 1rem;
      margin-top: 1rem;
      overflow-y: auto;    
      iframe {
        width: 100%;
        height: calc(100% - 1rem);
      }     
    }
    // .cascade-footer {
    //   background-image: url("../images/tab/content_footer.png");
    //   width: 100%;
    //   height: 5rem;      
    //   position: absolute;
    //   left: 0;
    //   bottom: -3.5rem;
    // }
  }
  .cascade-nav {
    display: none;
    opacity: 0;
    width: 2.5rem;
    height: 5rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);      
    background-repeat: no-repeat;
    background-position: 0px 0px;  
    &.block {
    display: block;
    opacity: 1;
    }  
    &:hover {
      background-position: 0px -50px;
    }
    &.prev {
      left: -5rem;
      background-image: url("../images/tab/content_nav_left.png");
    }
    &.next {
      right: -5rem;
      background-image: url("../images/tab/content_nav_right.png");
    }
  }
}


//css template

.box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  &-left {
   width: calc(50% - 1.5rem); 
  }
  &-right {
    width: calc(50% - 1.5rem); 
    height: 32rem;
    display: flex;
  }
  .name-company {
    font-size: 2.4rem;
    line-height: 1.2;
    color: $white_dark;
    margin: 1rem 0;
  }
  .name-user {
    font-size: 1.8rem;
    line-height: 1.2;
    color: $white_dark;
    margin: 1rem 0;
  }
  .position {
    font-size: 1.3rem;
    line-height: 1.2;
    color: $gray_dark;
    margin-bottom: 3rem;
  }
  .mobile {
    .link-tel {
      font-size: 1.3rem;
      line-height: 1.2;
      color: $gray_dark;
    }
  }
  .what-app {
    .link-what-app {
      font-size: 1.3rem;
      line-height: 1.2;
      color: $gray_dark;
    }
  }
  .time-start {
    font-size: 1.3rem;    
    color: $gray_dark;
  }
  .email {
    .link-email {
      font-size: 1.3rem;
      line-height: 1.2;
      color: $gray_dark;
    }
  }
  .website {
    .link-website {
      font-size: 1.3rem;
      line-height: 1.2;
      color: $gray_dark;
    }
  }
}

/*templat3 */
.box-map {
  display: flex;
  justify-content: space-between;
  // align-items: flex-start;
  height: 100%;
  .tab-bar {
    width: calc(25% - .5rem);
  }
  .position-map {
    width: 75%;
    iframe {
      width: 100%;
    }
  }
  .tab-map-parent {
    width: 100%;  
    margin-bottom: 0.5rem;      
  }
  .tab-parent {
    width: 100%;
    background-color: $gray_dark;
    color: $white;
    font-size: 1.6rem;
    line-height: 1;
    padding: 0.5rem 1rem;    
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;  
    border-bottom-left-radius: .4rem;
    border-bottom-right-radius: .4rem;       
    cursor: pointer;
    &.active {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;       
    }
  }
  .tab-child {
    display: none;
    background-color: $white;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    border-bottom-left-radius: .4rem;
    border-bottom-right-radius: .4rem;    
    cursor: pointer;
  }
 
}

 .arrow-tab {
    position: relative;
    transition: all ease-in .3s;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      right: 1rem;
      border: solid white;
      border-width: 0 .2rem .2rem 0;
      display: inline-block;
      padding: .3rem;      
      transition: all ease-in .3s;
    }
    &.active {
      &::after {
        transform: translateY(-45%) rotate(-135deg);
      }
    }
  }

@keyframes slidein {
  from {
    width:0%
  }
  40% {
    width:100%;
  }
  50% {
    width:94%;
  }
  60% {
    width:100%;
  }
  70% {
    width:96%;
  }
  80% {
    width:100%;
  }
  90% {
    width:98%;
  }
  to {
    width:100%;
  }
}
