// color
// ============================================
$primary: #FBAC5F;
$secondary: #E60213;
$third: #FFF1E1;
$fourth: #707070;
$base: #000000;
$link: #2984f6;
$link_dark: #116cb0;
$light: #ffffff;
$gray: #F8F8F8;

// display
// ============================================
$xs: 320px;
$md: 768px;
$lgm: 968px;
$lg: 969px;
$xl: 1200px;
$xxl: 1605px;